{{ header|raw }}

<div class="dcaw-shared-wishlist">
  <h1>{{ title }}</h1>

  {% if products %}
    <ul class="dcaw-products-grid">
      {% for id, product in products %}
        <li>
          <div class="dcaw-product-tile">
            <a class="dcaw-product-tile__link" href="{{ product.link }}">
              {{ product.img|raw }}
            </a>

            <h3 class="dcaw-product-tile__title">
              <a href="{{ product.link }}">
                {{ product.title }}
              </a>
            </h3>

            <span class="dcaw-product-tile__price">
            {{ product.price|raw }}
          </span>

            <div class="dcaw-product-tile__buy">
              {{ product.buy|raw }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {{ empty|raw }}
  {% endif %}
</div>

{{ footer|raw }}
