<div class="dcaw-compare-table">

  {% if count %}
    <div class="dcaw-table-header">
      <div class="dcaw-table-header__title">
        {{ title }}
      </div>

      <div class="dcaw-table-header__actions">
        <button type="button" class="dcaw-btn-w-icon" data-action="clear">
          {{ clear_icon|raw }}
          <span>{{ clear_text }}</span>
        </button>
      </div>
    </div>
  {% endif %}

  {% if products %}
    <ul class="dcaw-products-grid">
      {% for id, product in products %}
        <li>
          <div class="dcaw-product-tile">
            <a class="dcaw-product-tile__link" href="{{ product.link }}">
              {{ product.img|raw }}
            </a>

            <h3 class="dcaw-product-tile__title">
              <a href="{{ product.link }}">
                {{ product.title }}
              </a>
            </h3>

            <span class="dcaw-product-tile__price">
            {{ product.price|raw }}
          </span>

            <div class="dcaw-product-tile__buy">
              {{ product.buy|raw }}
            </div>

            <button class="dcaw-product-tile__compare js-dcaw-compare-remove-btn"
                    data-title="{{ product.title }}"
                    data-id="{{ id }}">&times;
            </button>
          </div>
        </li>
      {% endfor %}
    </ul>

    <ul class="dcaw-attributes-list">
      {% for slug, attribute in attributes %}
        <li
          {% if attribute.identical %} data-identical="true" {% endif %}
          data-slug="{{ slug }}"
        >
          <div class="dcaw-attribute">
            <p class="dcaw-attribute__title js-dcaw-attribute-collapse">
              {{ attribute.name }}
            </p>

            <dl>
              {% for id, value in attribute.values %}
                <div class="dcaw-attribute__values" data-product-id="{{ id }}">
                  <dt>
                    {{ value.product }}
                  </dt>
                  <dd>
                    {{ value.value|default('—') }}
                  </dd>
                </div>
              {% endfor %}
            </dl>

          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {{ empty_content|raw }}
  {% endif %}

</div>
